.edit-cont{
  position: relative;
}
.edit-button{
  border: 1px solid #000;
  background-color: #fff;;
  border-radius: 2px;
  color: #000;
  position: absolute;
  top: 25%;
  right: -50px;
  z-index: 10;
  cursor: pointer;
  outline: none;
  transition: 250ms ease;
  font-size: 1rem;
}

.edit-button:hover{
  background-color: #000;
  color: #fff;
  border-color: #fff;
}